<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FilmLog - Find "<%= searchText %>"</title>
    <link rel="icon" href="/images/filmlog-favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div id="header-background"></div>
    <%- include("../partials/header.ejs") %>

    <div style="display: flex; justify-content: center;">

        <div id="find-film-content">
    
            <p id="search-text">Showing results for "<%= searchText %>"</p>
    
            <hr>
    
            <% if (locals.search.length > 0) { %>
    
                <% search.forEach(f => { %>
                    <% if (f.poster_path && f.backdrop_path && f.release_date) { %>
    
                        <div class="find-film-card">
    
                            <a href="/film/<%= f.id %>" class="find-film-poster">
                                <img
                                    src="https://image.tmdb.org/t/p/w500<%= f.poster_path %>" 
                                    alt="Poster of <%= f.title %>">
                            </a>
    
                            <div class="find-film-info">
                                <p><a href="/film/<%= f.id %>" class="find-film-title"><%= f.title %></a></p>
    
                                <p class="find-film-year"><%= f.release_date.slice(0, 4) %></p>
    
                                <% const numOfCharacters = 200 %>
                                <% if (f.overview.length < numOfCharacters) { %>
                                    <p><%= f.overview %></p>
                                <% } else { %>
                                    <p id="half-text-<%= f.id %>">
                                        <%= f.overview.slice(0, numOfCharacters).slice(0, f.overview.slice(0, numOfCharacters).lastIndexOf(" ")) %> 
                                        <span id="more-text-<%= f.id %>" class="more-text">...more</span>
                                    </p>
                                    <p id="full-text-<%= f.id %>" class="hidden"><%= f.overview %></p>
                                <% }; %>
                            </div>
    
                        </div>
    
                        <hr>
    
                    <% } %>
                <% }); %>
    
            <% } else { %>
                <p>There were no matches for your search.</p>
            <% } %>
        </div>

    </div>

    <%- include("../partials/footer.ejs") %>

<script src="/js/find.js"></script>
</body>
</html>