<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= username %>'s watchlist</title>
    <link rel="icon" href="/images/filmlog-favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div id="header-background"></div>
    <%- include("../partials/header.ejs") %>

    <div id="watchlist-placement">
        <div id="watchlist-wrapper">
    
            <div>
                <p style="text-transform: uppercase;"><span style="color: var(--ultra-light-detail-color);"><%= username %></span>'s watchlist</p>
            </div>

            <hr>
        
            <div style="margin-top: 1.25rem;">
                <% if (watchlist.length > 0) { %>
                    <div id="watchlist-grid">
                        <% watchlist.forEach(f => { %>
                            <a href="/film/<%= f.film_id %>">
                                <img class="watchlist-poster"
                                    src="https://image.tmdb.org/t/p/w500<%= f.poster_path %>"
                                    alt="Poster of <%= f.title %>">
                            </a>
                        <% }) %>
                    </div>
                    <hr style="margin-top: 1.25rem; filter: opacity(0.25);">
                <% } else { %>
                    <p>There are no films in <%= username %>'s watchlist.</p>
                <% } %>
            </div>
    
        </div>
    </div>

</body>
</html>